timeout=5
default=1
bootver_major=1
bootver_minor=0
bootver_patch=0

# Each entry should have at least:
#    name - the name displayed in the boot menu
#    path - the path to the kernel

# If it is a ComputiOS or ComputiOS-based kernel, use the following parameters:
#    name="ComputiOS" (or whatever you want)
#    path="1:/ComputiOS/system/cposkrnl.cap" (or wherever your kernel is located)
#    maxmem=131072 (or what you want the memory cap to be)
#    resolution="auto" (keeping it at auto will do whatever your hardware can do - otherwise sets it to your configured resolution)

[entry]
name="ComputiOS"
path="1:/ComputiOS/system/cposkrnl.cap"
maxmem=131072